:root {
    --backgroundC: #7a4b39;
    --black: #000000;
    --white: #ffffff;
    --pink: #ffc0c0;
    --lightBrown: #c69c6c;
    --darkGreen: #012622;
    --cyan: #51a3a3;
    --darkBrown: #210203;
    --green: #394f49;
  }
  
  html {
    font-family: Verdana, sans-serif;


  }
  
  #page {
    background-color: #7a4b39;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #394f49;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center;     /* Center content vertically */
  }
  
  h1 {
    text-align: center;
  }
  
  nav {
    display: flex;
    justify-content: center; /* Center the navigation bar */
    width: 100%;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 0;
    margin: 0;
  }
  
  nav li {
    list-style-type: none;
    text-align: center;
    background-color: antiquewhite;
    padding: 10px;
    margin: 5px;
    width:200px;
  }
  
  nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  /* Media query for smaller screen sizes */
  @media (max-width: 1000px) {
    nav ul {
      flex-direction: column; /* Stack the navigation items vertically */
    }
  
    nav li {
      margin-left: 0;
      margin-right: 0;
      width: auto;
      text-align: center;
      background-color: antiquewhite;
      padding: 10px;
      margin-bottom: 5px;
    }
  }
  

  