.catItem:nth-child(even) {
    margin-left: auto;
  }
  
  #aboutCat {
    display: flex;
    flex-direction: column;
  }
  
  .catItem {
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 10px;
    background-color: antiquewhite;
    margin-bottom: 20px;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
    border-top: 2px solid black;
  }
  
  .catImg {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
    width: 1000px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  img {
    width: 100%;
  }
  
  @media (min-width: 1000px) {
    .catImg {
      padding: 5px;
      width: auto;
    }
  
    .catImg {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 10px;
      margin-right: 10px;
      width: 500px;
    }
  }
  