html{
  background-color: #7a4b39;
}
.catItem:nth-child(even) {
  margin-left: auto;
}

#aboutCat {
  display: flex;
  flex-direction: row;
}

.catItem {
  display: flex;
  flex-direction: row;
  width: 70%; 
  padding: 8px;  
  background-color: antiquewhite;
  margin-bottom: 15px;  
  border-right: 5px solid black;  
  border-bottom: 5px solid black;  
  border-top: 2px solid black;
  margin-top: 20px;
}

.catImg {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 8px;  
  margin-right: 8px;  
  width: 400px; 
  height: auto;  
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;  
  height: auto; 
}

#catButton {
  display: flex;
  align-items: center;
  width: 95%;
}

#add-cat {
  margin-left: auto;

}


@media (min-width: 1000px) {
  .catItem {
      width: 50%;
  }

  .catImg {
      width: 300px;  
      height: auto;
  }
}

/* Responsive layout for small screens */
@media (max-width: 768px) {
  #aboutCat {
    flex-direction: column; 
  }

  .catItem {
    flex-direction: column;
    width: 90%; 
    margin-left: auto;
    margin-right: auto;
  }

  .catImg {
    width: 100%; 
    height: auto;
  }
}
